@media only screen and (max-width: 560px){
  html{font-size: 12px;}
  .clothes__subclass {
    font-family: sans-serif;
    padding:0.5rem  3rem;
    display: block;
    list-style: none;
    color: dimgray;
  }
  .clothes__subclass:first-of-type{
    font-size: 1.4rem;
    padding: 1.5rem 0 0.3rem 2rem;
    font-weight: bold;
  }
  .clothes__subclass:last-of-type{
    padding-bottom: 2rem;
  }

  .categoriesList {
    background-color: black;
    color: white;
    font-weight: bolder;
    width: 17%;
    display: none;
    &__item {
      border: 1px solid black;
      display: flex;
      align-items: center;
      padding: 20px;
      justify-content: space-between;
      &__p{
        margin: 0;
        text-transform: capitalize;
      }
      &__p:hover{
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  .clothes__list{
    margin: 0 auto;
    flex-wrap: wrap;
  }}
@media only screen and (min-width: 560px) and (max-width: 980px){
  html{font-size: 18px;}
  .clothes__subclass {
    font-family: sans-serif;
    padding:0.5rem  3rem;
    display: block;
    list-style: none;
    color: dimgray;
    font-size: 0.7rem;
  }
  .clothes__subclass:first-of-type{
    font-size: 1rem;
    padding: 1rem 0 0 1rem;
    font-weight: bold;
  }
  .clothes__subclass:last-of-type{
    padding-bottom: 2rem;
  }

  .categoriesList {
    background-color: black;
    color: white;
    font-weight: bolder;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    &__item {
      border: 1px solid black;
      display: flex;
      align-items: center;
      padding: 0.3rem 1rem;
      justify-content: space-between;
      &__p{
        margin: 0 1rem 0 0;
        text-transform: capitalize;
      }
      &__p:hover{
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  .clothes__list{
    margin: 0 auto;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 980px) and (max-width: 1400px){
  html{font-size: 18px;}
  .clothes__subclass {
    font-family: sans-serif;
    padding:0.5rem  3rem;
    display: block;
    list-style: none;
    color: dimgray;
    font-size: 0.7rem;
  }
  .clothes__subclass:first-of-type{
    font-size: 1rem;
    padding: 1rem 0 0 1rem;
    font-weight: bold;
  }
  .clothes__subclass:last-of-type{
    padding-bottom: 2rem;
  }

  .categoriesList {
    background-color: black;
    color: white;
    font-weight: bolder;
    width: 18%;
    &__item {
      border: 1px solid black;
      display: flex;
      align-items: center;
      padding: 0.3rem 1rem;
      justify-content: space-between;
      &__p{
        margin: 0 1rem 0 0;
        text-transform: capitalize;
      }
      &__p:hover{
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  .clothes__list{
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }
}
