.success{
  color: black;
  background-color: #e2dfdf;
  padding: 10px 20px 12px 20px;
  font-size: 40px;
  font-family: sans-serif;
  display: block;
  text-align: center;
}
.link{
  color: white;
  background-color: black;
  padding: 10px 20px 12px 20px;
  font-size: 20px;
  font-family: sans-serif;
  display: block;
  text-align: center;
}