.clothes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  &__list{
    padding-left: 10px;
  }
  &__img{
    margin: 0 auto;
  }

}

.product{
  background-color: #e2dfdf;
  margin:20px 0 ;
}