.clothes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  &__list{
    padding:0 10px;
  }
  &__img{
    margin: 0 auto;
  }

}

.product{
  background-color: #e2dfdf;
  margin:20px 0 ;
  transform: scale(1,1);
  transition: transform 500ms ease-in-out;
}
.product:hover{
  transform: scale(1.05,1.05);
  transition: transform 500ms ease-in-out;
}
.checkButton{
  margin: 30px auto;
  padding: 7.5px 0 8px 0;
  width: 100%;
  background-color: goldenrod;
  border: none;
  border-radius: 2px;
}